body {
  margin: 5%;
  background-color: #000000;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Courier New', monospace;
}

img{
    background-color: #ffffff;
    border-radius: 25px;
    padding: 20px;
}

.i {
    text-align: center;
    
    
    
}

.i2 {
    background-color: #ffffff;
    text-align: center;
}

a{
    color: #ffffca;
}

pre{
   margin: 5% 10% 5% 0%;
}

code{
    -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    border-radius: 25px;
}

.tabel{
    margin: 5% 15% 5% 15%;
}

td{
    width: 25%;
}


